<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Code Mastery Competition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
    <script>
        function showAlert() {
            alert("Username already exists. Please choose a different username.");
        }
    </script>
</head>
<body>
    <nav>
        <div class="title">TechQuest</div>
        <a href="/">Challenges</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/login">Login</a>
    </nav>
    <div id="container">
        <div class="form-container">
            <h2>Register</h2>
            <form action="/register" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Register</button>
                <p>Already have an account? <a href="/">Login</a></p>
            </form>
        </div>
    </div>
    {% if username_exists %}
    <script>
        showAlert();
    </script>
    {% endif %}
</body>
</html>
